phpunit:
    options:
        cli: "--exclude-group phpspec"
        all_after_pass: true
    watch:
        - { pattern: "#^src\/PhpGuard\/Application\/(.+)\.php$#", transform: "tests/PhpGuard/Application/Tests/${1}Test.php" }
        - { pattern: "#^tests\/.*Test\.php$#" }

phpspec:
    options:
        format:             pretty
        ansi:               true
        all_after_pass:     true
        run_all:
            format: progress

    watch:
        - { pattern: "#^src\/(.+)\.php$#", transform: "spec/${1}Spec.php" }
        - { pattern: "#^spec.*\.php$#" }