phpguard:
    coverage:
        enabled: false
        whitelist:
            - src
        blacklist:
            - spec
            - tests
            - vendor
        show_uncovered_files: true
        show_only_summary: true
        output.text:    true
        output.clover:  build/logs/clover.xml

phpunit:
    options:
        all_on_start:   true
        all_after_pass: true
        keep_failed:    true
    watch:
        - { pattern: "#^src\/(.+)\.php$#", transform: "tests/functional/${1}.php" }
        - { pattern: "#^tests\/functional\/.*Test\.php$#" }

phpspec:
    options:
        cli: "--format=pretty"
        all_on_start:       true
        all_after_pass:     true
        keep_failed:        true
        import_suites:      false
        run_all: "--format=pretty"

    watch:
        - { pattern: "#^src\/(.+)\.php$#", transform: "spec/PhpGuard/Application/${1}Spec.php" }
        - { pattern: "#^spec.*\.php$#" }