<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         strict="true"
         bootstrap="tests/bootstrap.php">

    <testsuites>
        <testsuite name="PhpGuard Functional Test Suite">
            <directory>./tests/functional</directory>
            <exclude>./functional/fixtures</exclude>
        </testsuite>
    </testsuites>
</phpunit>