<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         strict="true"
         bootstrap="tests/bootstrap.php">

    <testsuites>
        <testsuite name="PhpGuard Application Spec">
            <directory>./tests/spec</directory>
        </testsuite>
        <testsuite name="PhpGuard Application Functional">
            <directory>./tests/functional</directory>
            <directory>./plugins/phpspec/tests</directory>
            <directory>./plugins/phpunit/tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
            <directory>./plugins/phpspec/src</directory>
            <directory>./plugins/phpunit/src</directory>
            <exclude>
                <directory>./tests</directory>
                <directory>./plugins/phpspec/tests</directory>
                <directory>./plugins/phpunit/tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>