phpspec:
    options:
        cli: "--format=pretty -n"
        keep_failed:        true
        all_after_pass:     false
        import_suites:      true
        run_all:
            cli: "--format=pretty -n"

    watch:
        - { pattern: "#^src\/.+\.php$#"}